# Dependencies
node_modules/
package-lock.json
.pnpm-store

# Environment variables & secrets
.env
.env.local
.env.*.local

# Production build outputs
dist/
build/

# Scratch & temporary logs
scratch/
*.log

# IDE files
.vscode/
.idea/
.DS_Store
